
<form method="post" action="/add">
<table>
	<tr>
		<td>
			<h2>new Product</h2>
		</td>
	</tr>
	<tr>
		<td>Product Name</td>
		<td><input type="text" name="ProductName" /></td>
	</tr>
	<tr>
		<td>Product Category</td>
		<td><input type="text" name="ProductCategory" /></td>
	</tr>
	<tr>
		<td>Vendor Name</td>
		<td><input type="text" name="VendorName" /></td>
	</tr>
	<tr>
		<td>Product Quandity</td>
		<td><input type="text" name="ProductQuandity" /></td>
	</tr>
	<tr>
		<td>Price</td>
		<td><input type="text" name="Price" /></td>
	</tr>
	
	<tr>
		<td><input type="submit" value="Create" class="btn btn-primary"/></td>
		<td><input type="reset" value="Cancel" class="btn btn-primary"/></td>	
	</tr>
</table>

</form>